/* //TODO - var globais */
:root {
    --bg-dark: #1a2f3a;

    --logo-height: 100px;
    --header-height: 80px;
    --menu-top-height : 70px;
    --aside-width: 225px;
    --footer-height: 40px;

    --shadow:
        0 2px 23px 0 rgba(0,0,0,0.1),
        0 2px 49px 0 rgba(0,0,0,0.06);
}

* {
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    /* font-size: 15px; */
}

@font-face {
    font-family: 'Montserrat';
    src: url(../assets/fonts/Montserrat-Regular.ttf);
}

/* TODO - CSS Grid */
.app {
    margin: 0px;
    display: grid;
    grid-template-columns: var(--aside-width) 1fr;
    grid-template-rows: var(--header-height) 1fr var(--footer-height);
    grid-template-areas:
        "logo header"
        "menu content"
        "menu footer";
    height: 100vh;
    background-color: #f5f5f5;
}

aside.logo {
    grid-area: logo;
}

header.header {
    grid-area: header;
}

aside.menu-lateral{
    grid-area: menu;
}

main.content {
    grid-area: content;
}

footer.footer {
    grid-area: footer;
}
/* TODO - Animação loader */
.loader {
    width: 40px;
    height: 40px;
    left: 50%;
    top: 50%;
    border: 4px solid #033ba3;
    border-top: 4px solid transparent;
    border-radius: 50%;
    animation: loader 1s linear infinite;
    position: relative;
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }

    33.33% {
        transform: rotate(120deg);
    }

    66.66% {
        transform: rotate(240deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* TODO - Responsividade */

@media(max-width: 768px) {
    .app {
        grid-template-rows: var(--header-height) var(--menu-top-height) 1fr var(--footer-height);
        grid-template-columns: var(--aside-width) 1fr;
        grid-template-areas:
            "logo header"
            "menu menu"
            "content content"
            "footer footer";
    }
}

@media(max-width: 576px) {
    .app {
        grid-template-rows: var(--logo-height) var(--menu-top-height) 1fr var(--footer-height);
        grid-template-columns: 1fr;
        grid-template-areas:
            "logo"
            "menu"
            "content"
            "footer"; 
    }
}

/* TODO - CSS estrutura painel */
.listar {
    cursor: pointer;
}

.form-group label {
    color: #000;
    font-size: 16px;
    padding-bottom: 0;
}

.form-container {
    width: 100%;
    max-width: 1200px;
    padding: 5 10px;
    margin: 30px auto;
}

.form-container header button:hover {
    border-color: #510BAC;
}

.form-container header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-container header img {
    height: 80px;
}

table,
th,
td {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 20px;
    text-align: left;
}

tbody tr td img {
    height: 45px;
    width: 45px;
    border-radius: 50%;
}

tbody tr td {
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}


.input-group-text {
    margin: 0px 10px;
}

.btn-adicionar {
    padding: 5px 15px;
    font-size: 18px;
}

.btn-adicionar strong {
    margin-right: 8px;
    font-size: 20px;
}

.botaoBusca {
    margin-left: 10px;
    border-radius: 5px;
    border: 1px solid #DCDCE6;
}

label {
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

select {
    border-radius: 5px;
    border-color: #ccc;
}

.form-check {
    margin-left: 10px;
}

.idade {
    margin-left: 10px;
}

.formInfo {
    width: 100%;
    max-width: 500px;
    padding: 5 10px;
    margin: 30px auto;
}

.paginacao button {
    color: #000;
    font-weight: bold;
    text-align: center;
    align-items: center;
    border-radius: 5px;
    border: 1px solid #DCDCE6;
    background: #cececece;
    transition: border-color 0.5s;
}

.pagina p {
    text-align: center;
    margin-top: 5px;
}

.formInfo table thead tr th {
    width: 50%;
}

.formAtividades {
    width: 100%;
    max-width: 1100px;
    padding: 5 10px;
    margin: 30px auto;
}

.imgEditar img {
    width: 140px;
    height: 140px;
}

.imagem {
    width: 100%;
    max-width: 350px;
    /* padding: 5 10px; */
    margin: 10px auto;
}